<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.world.chaip.mapper.RiverAnalysisMapper">
    <!-- 河道水情分析对比-->
    <select id="getRiverByAnalysis" resultType="com.world.chaip.entity.Exchange.RiverExchange">
        select st.stcd,st.stnm,st.rvnm,adnm from
        (select b.* , e.name, ad.adnm from st_stbprp_b b
        LEFT JOIN ST_STSMTASK_B s
        on b.STCD = s.STCD
        LEFT JOIN
        DJ_AD ad
        ON b.ADDVCD = ad.ADCD
        LEFT join
        DJ_EXP c
        on b.STCD = c.stcd
        LEFT join
        DJ_TYID e
        on
        c.lx = e.typeID
        <where>
            <trim prefixOverrides="and|or">
                <if test="adcd != null and adcd.size() > 0">
                    and b.addvcd IN
                    <foreach item="adcd" index="index" collection="adcd" open="(" separator="," close=")">
                        #{adcd}
                    </foreach>
                </if>
                <if test="stcdOrStnm!=null">
                    <choose>
                        <when test="stcdOrStnm.size() > 1">
                            and b.stcd IN
                            <foreach item="stcdOrStnm" index="index" collection="stcdOrStnm" open="(" separator="," close=")">
                                #{stcdOrStnm}
                            </foreach>
                            or b.stnm IN
                            <foreach item="stcdOrStnm" index="index" collection="stcdOrStnm" open="(" separator="," close=")">
                                #{stcdOrStnm}
                            </foreach>
                        </when>
                        <otherwise>
                            and (b.stcd like '%${stcdOrStnm[0]}%' or b.stnm like '%${stcdOrStnm[0]}%')
                        </otherwise>
                    </choose>
                </if>
                <if test="systemTypes != null and systemTypes.size() > 0">
                    and c.lx IN
                    <foreach item="systemTypes" index="index" collection="systemTypes" open="(" separator="," close=")">
                        #{systemTypes}
                    </foreach>
                </if>
                and ZFL = 1 and STTP LIKE '%Z%'
            </trim>
        </where>
        ) st
        LEFT JOIN
        (
        select A.STCD,AVZ,AVQ from RP_RVAV_R A
        <where>
            <![CDATA[
				IDTM=#{Time}
				and A.STTDRCD=5
			]]>
        </where>
        group by stcd
        )PP
        on ST.STCD=PP.STCD
    </select>

    <!-- 查询最高水位及其时间 -->
    <select id="getRiverByMaxZ" resultType="com.world.chaip.entity.Exchange.RiverExchange">
        select st.stcd,st.stnm,st.rvnm,adnm,z maxZ,tm maxZTime from
        (select b.* , e.name, ad.adnm from st_stbprp_b b
        LEFT JOIN ST_STSMTASK_B s
        on b.STCD = s.STCD
        LEFT JOIN
        DJ_AD ad
        ON b.ADDVCD = ad.ADCD
        LEFT join
        DJ_EXP c
        on b.STCD = c.stcd
        LEFT join
        DJ_TYID e
        on
        c.lx = e.typeID
        <where>
            <trim prefixOverrides="and|or">
                <if test="adcd != null and adcd.size() > 0">
                    and b.addvcd IN
                    <foreach item="adcd" index="index" collection="adcd" open="(" separator="," close=")">
                        #{adcd}
                    </foreach>
                </if>
                <if test="stcdOrStnm!=null">
                    <choose>
                        <when test="stcdOrStnm.size() > 1">
                            and b.stcd IN
                            <foreach item="stcdOrStnm" index="index" collection="stcdOrStnm" open="(" separator="," close=")">
                                #{stcdOrStnm}
                            </foreach>
                            or b.stnm IN
                            <foreach item="stcdOrStnm" index="index" collection="stcdOrStnm" open="(" separator="," close=")">
                                #{stcdOrStnm}
                            </foreach>
                        </when>
                        <otherwise>
                            and (b.stcd like '%${stcdOrStnm[0]}%' or b.stnm like '%${stcdOrStnm[0]}%')
                        </otherwise>
                    </choose>
                </if>
                <if test="systemTypes != null and systemTypes.size() > 0">
                    and c.lx IN
                    <foreach item="systemTypes" index="index" collection="systemTypes" open="(" separator="," close=")">
                        #{systemTypes}
                    </foreach>
                </if>
                and ZFL = 1 and STTP LIKE '%Z%'
            </trim>
        </where>
        ) st
        LEFT JOIN
        (
        select STCD,MAX (z) z,tm from RP_RIVER_R
        WHERE TM = (SELECT MAX (Z) from RP_RIVER_R
        <where>
            <![CDATA[
				tm>=#{beginTime} and tm<=#{endTime}
			]]>
        </where>)
        group by stcd
        )PP
        on ST.STCD=PP.STCD
    </select>


    <!-- 查询最大流量及其时间 -->
    <select id="getRiverByMaxQ" resultType="com.world.chaip.entity.Exchange.RiverExchange">
        select st.stcd,st.stnm,st.rvnm,adnm,q maxq,tm maxQTime from
        (select b.* , e.name, ad.adnm from st_stbprp_b b
        LEFT JOIN ST_STSMTASK_B s
        on b.STCD = s.STCD
        LEFT JOIN
        DJ_AD ad
        ON b.ADDVCD = ad.ADCD
        LEFT join
        DJ_EXP c
        on b.STCD = c.stcd
        LEFT join
        DJ_TYID e
        on
        c.lx = e.typeID
        <where>
            <trim prefixOverrides="and|or">
                <if test="adcd != null and adcd.size() > 0">
                    and b.addvcd IN
                    <foreach item="adcd" index="index" collection="adcd" open="(" separator="," close=")">
                        #{adcd}
                    </foreach>
                </if>
                <if test="stcdOrStnm!=null">
                    <choose>
                        <when test="stcdOrStnm.size() > 1">
                            and b.stcd IN
                            <foreach item="stcdOrStnm" index="index" collection="stcdOrStnm" open="(" separator="," close=")">
                                #{stcdOrStnm}
                            </foreach>
                            or b.stnm IN
                            <foreach item="stcdOrStnm" index="index" collection="stcdOrStnm" open="(" separator="," close=")">
                                #{stcdOrStnm}
                            </foreach>
                        </when>
                        <otherwise>
                            and (b.stcd like '%${stcdOrStnm[0]}%' or b.stnm like '%${stcdOrStnm[0]}%')
                        </otherwise>
                    </choose>
                </if>
                <if test="systemTypes != null and systemTypes.size() > 0">
                    and c.lx IN
                    <foreach item="systemTypes" index="index" collection="systemTypes" open="(" separator="," close=")">
                        #{systemTypes}
                    </foreach>
                </if>
                and ZFL = 1 and STTP LIKE '%Z%'
            </trim>
        </where>
        ) st
        LEFT JOIN
        (
        select STCD,MAX (q) q,tm from RP_RIVER_R
        WHERE TM = (SELECT MAX (Z) from RP_RIVER_R
        <where>
            <![CDATA[
				tm>=#{beginTime} and tm<=#{endTime}
			]]>
        </where>)
        group by stcd
        )PP
        on ST.STCD=PP.STCD
    </select>

    <!-- 河道水情获取最大时期 -->
    <select id="getRiverMaxTime" resultType="String">
        select
        MAX(tm)
        from
        RP_RIVER_R
        where
        <if test="sign == 0">
            z=#{max}
        </if>
        <if test="sign == 1">
            q=#{max}
        </if>
        and
        stcd = #{stcd}
        and
        <![CDATA[
				tm>=#{beginTime} and tm<=#{endTime}
			]]>;
    </select>
</mapper>