<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.world.chaip.mapper.RsvrfallMapper">
    <!-- 水库查询 实时 时间不同 -->

    <!-- 查实时的ST_RSVR_R表
select st.stcd,st.stnm,tm,st.rvnm,adnm,HNNM,RZ,W,OTQ,RWCHRCD from
        (select b.* , e.name, ad.adnm from st_stbprp_b b
        LEFT JOIN ST_STSMTASK_B s
        on b.STCD = s.STCD
        LEFT JOIN
        DJ_AD ad
        ON b.ADDVCD = ad.ADCD
        LEFT join
        DJ_EXP c
        on b.STCD = c.stcd
        LEFT join
        DJ_TYID e
        on
        c.lx = e.typeID
        <where>
            <trim prefixOverrides="and|or">
                <if test="adcd != null and adcd.size() > 0">
                    and b.addvcd IN
                    <foreach item="adcd" index="index" collection="adcd" open="(" separator="," close=")">
                        #{adcd}
                    </foreach>
                </if>
                <if test="stcdOrStnm!=null">
                    <choose>
                        <when test="stcdOrStnm.size() > 1">
                            and b.stcd IN
                            <foreach item="stcdOrStnm" index="index" collection="stcdOrStnm" open="(" separator="," close=")">
                                #{stcdOrStnm}
                            </foreach>
                            or b.stnm IN
                            <foreach item="stcdOrStnm" index="index" collection="stcdOrStnm" open="(" separator="," close=")">
                                #{stcdOrStnm}
                            </foreach>
                        </when>
                        <otherwise>
                            and (b.stcd like '%${stcdOrStnm[0]}%' or b.stnm like '%${stcdOrStnm[0]}%')
                        </otherwise>
                    </choose>
                </if>
                <if test="systemTypes != null and systemTypes.size() > 0">
                    and c.lx IN
                    <foreach item="systemTypes" index="index" collection="systemTypes" open="(" separator="," close=")">
                        #{systemTypes}
                    </foreach>
                </if>
                and c.dq = '31'
                and sttp like '%R%' and ZFL='1'
                and c.db in (2,3)
            </trim>
        </where>
        ) st
        INNER JOIN
        (
        select A.STCD, A.TM, rz,w,otq,RWCHRCD from ST_RSVR_R A
        <where>
            <![CDATA[
				A.TM>=#{beginTime} and A.TM<=#{endTime}
			]]>
        </where>
        )PP
        on ST.STCD=PP.STCD
        order by ST.STCD,tm desc
    -->
    <select id="getRsvrByTerm" resultType="com.world.chaip.entity.report.Rsvr">
        select st.stcd,st.stnm,tm,st.rvnm,adnm,HNNM,RZ,W from
        (select b.* , e.name, ad.adnm from st_stbprp_b b
        LEFT JOIN ST_STSMTASK_B s
        on b.STCD = s.STCD
        LEFT JOIN
        DJ_AD ad
        ON b.ADDVCD = ad.ADCD
        LEFT join
        DJ_EXP c
        on b.STCD = c.stcd
        LEFT join
        DJ_TYID e
        on
        c.lx = e.typeID
        <where>
            <trim prefixOverrides="and|or">
                <if test="adcd != null and adcd.size() > 0">
                    and b.addvcd IN
                    <foreach item="adcd" index="index" collection="adcd" open="(" separator="," close=")">
                        #{adcd}
                    </foreach>
                </if>
                <if test="stcdOrStnm!=null">
                    <choose>
                        <when test="stcdOrStnm.size() > 1">
                            and b.stcd IN
                            <foreach item="stcdOrStnm" index="index" collection="stcdOrStnm" open="(" separator=","
                                     close=")">
                                #{stcdOrStnm}
                            </foreach>
                            or b.stnm IN
                            <foreach item="stcdOrStnm" index="index" collection="stcdOrStnm" open="(" separator=","
                                     close=")">
                                #{stcdOrStnm}
                            </foreach>
                        </when>
                        <otherwise>
                            and (b.stcd like '%${stcdOrStnm[0]}%' or b.stnm like '%${stcdOrStnm[0]}%')
                        </otherwise>
                    </choose>
                </if>
                <if test="systemTypes != null and systemTypes.size() > 0">
                    and c.lx IN
                    <foreach item="systemTypes" index="index" collection="systemTypes" open="(" separator="," close=")">
                        #{systemTypes}
                    </foreach>
                </if>
                <if test="ly != null and ly.size() > 0">
                    and c.dx IN
                    <foreach collection="ly" open="(" separator="," close=")" item="ly" index="index">
                        #{ly}
                    </foreach>
                </if>
                and c.dq = '31'
                and sttp like '%R%' and ZFL='1'
                and c.db in (2,3) and c.viwe = 1
            </trim>
        </where>
        ) st
        INNER JOIN
        (
        select A.STCD, A.YMDHM as TM, A.ZR as rz,Q as w from YY_DATA_WAT A
        <where>
            DATATYPE='C'
            and
            <![CDATA[
				A.YMDHM>=#{beginTime} and A.YMDHM<=#{endTime}
			]]>
        </where>
        )PP
        on ST.STCD=PP.STCD
        order by ST.STCD,tm desc
    </select>

    <!--
select st.stcd,st.stnm,tm,st.rvnm,adnm,HNNM,RZ,W,OTQ,RWCHRCD from
        (select b.* , e.name, ad.adnm from st_stbprp_b b
        LEFT JOIN ST_STSMTASK_B s
        on b.STCD = s.STCD
        LEFT JOIN
        DJ_AD ad
        ON b.ADDVCD = ad.ADCD
        LEFT join
        DJ_EXP c
        on b.STCD = c.stcd
        LEFT join
        DJ_TYID e
        on
        c.lx = e.typeID
        <where>
            <trim prefixOverrides="and|or">
                <if test="adcd != null and adcd.size() > 0">
                    and b.addvcd IN
                    <foreach item="adcd" index="index" collection="adcd" open="(" separator="," close=")">
                        #{adcd}
                    </foreach>
                </if>
                <if test="stcdOrStnm!=null">
                    <choose>
                        <when test="stcdOrStnm.size() > 1">
                            and b.stcd IN
                            <foreach item="stcdOrStnm" index="index" collection="stcdOrStnm" open="(" separator="," close=")">
                                #{stcdOrStnm}
                            </foreach>
                            or b.stnm IN
                            <foreach item="stcdOrStnm" index="index" collection="stcdOrStnm" open="(" separator="," close=")">
                                #{stcdOrStnm}
                            </foreach>
                        </when>
                        <otherwise>
                            and (b.stcd like '%${stcdOrStnm[0]}%' or b.stnm like '%${stcdOrStnm[0]}%')
                        </otherwise>
                    </choose>
                </if>
                <if test="systemTypes != null and systemTypes.size() > 0">
                    and c.lx IN
                    <foreach item="systemTypes" index="index" collection="systemTypes" open="(" separator="," close=")">
                        #{systemTypes}
                    </foreach>
                </if>
                and c.dq = '31'
                and sttp like '%R%' and ZFL='1'
                and c.db in (2,3)
            </trim>
        </where>
        ) st
        LEFT JOIN
        (
        select A.STCD, A.TM, rz,w,otq,RWCHRCD from ST_RSVR_R A
        INNER JOIN
        (select STCD, max(tm)tm from ST_RSVR_R
        <where>
            <![CDATA[
				tm<=#{time}
			]]>
        </where>
        group by stcd)
        B on A.STCD = B.STCD and B.tm = A.TM
        )PP
        on ST.STCD=PP.STCD
        order by ST.STCD,tm desc
    -->
    <!-- 水库查询 实时 时间相同 -->
    <select id="getRsvrByTermNew" resultType="com.world.chaip.entity.report.Rsvr">
        select st.stcd,st.stnm,tm,st.rvnm,adnm,HNNM,RZ,W from
        (select b.* , e.name, ad.adnm from st_stbprp_b b
        LEFT JOIN ST_STSMTASK_B s
        on b.STCD = s.STCD
        LEFT JOIN
        DJ_AD ad
        ON b.ADDVCD = ad.ADCD
        LEFT join
        DJ_EXP c
        on b.STCD = c.stcd
        LEFT join
        DJ_TYID e
        on
        c.lx = e.typeID
        <where>
            <trim prefixOverrides="and|or">
                <if test="adcd != null and adcd.size() > 0">
                    and b.addvcd IN
                    <foreach item="adcd" index="index" collection="adcd" open="(" separator="," close=")">
                        #{adcd}
                    </foreach>
                </if>
                <if test="stcdOrStnm!=null">
                    <choose>
                        <when test="stcdOrStnm.size() > 1">
                            and a.stcd IN
                            <foreach item="stcdOrStnm" index="index" collection="stcdOrStnm" open="(" separator=","
                                     close=")">
                                #{stcdOrStnm}
                            </foreach>
                            or a.stnm IN
                            <foreach item="stcdOrStnm" index="index" collection="stcdOrStnm" open="(" separator=","
                                     close=")">
                                #{stcdOrStnm}
                            </foreach>
                        </when>
                        <otherwise>
                            and (a.stcd like '%${stcdOrStnm[0]}%' or a.stnm like '%${stcdOrStnm[0]}%')
                        </otherwise>
                    </choose>
                </if>
                <if test="systemTypes != null and systemTypes.size() > 0">
                    and c.lx IN
                    <foreach item="systemTypes" index="index" collection="systemTypes" open="(" separator="," close=")">
                        #{systemTypes}
                    </foreach>
                </if>
                <if test="ly != null and ly.size() > 0">
                    and c.dx IN
                    <foreach collection="ly" open="(" separator="," close=")" item="ly" index="index">
                        #{ly}
                    </foreach>
                </if>
                and c.dq = '31'
                and sttp like '%R%' and ZFL='1'
                and c.db in (2,3) and c.viwe = 1
            </trim>
        </where>
        ) st
        LEFT JOIN
        (
        select A.STCD, A.YMDHM as TM, A.ZR as rz,Q as w from YY_DATA_WAT A
        INNER JOIN
        (select STCD, max(YMDHM) tm from YY_DATA_WAT
        <where>
            <![CDATA[
				YMDHM<=#{time}
			]]>
        </where>
        group by stcd)
        B on A.STCD = B.STCD and B.tm = A.YMDHM where DATATYPE='C'
        )PP
        on ST.STCD=PP.STCD
        order by ST.STCD,tm desc
    </select>

    <!-- 水库查询 专业报表 时间不同 -->
    <select id="getRsvrByZhaunYe" resultType="com.world.chaip.entity.report.RsvrZhuanYe">
        select
        m.stnm,d.*,m.zfl
        from
        (select
        a.stnm,a.sttp,n.ZFL ,k.*
        from
        ST_STBPRP_B a
        left join
        ST_STSMTASK_B n
        on
        a.stcd=n.stcd
        left join
        DJ_EXP k
        on
        a.stcd=k.stcd
        <where>
            <trim prefixOverrides="and|or">
                <if test="adcd != null and adcd.size() > 0">
                    and a.addvcd IN
                    <foreach item="adcd" index="index" collection="adcd" open="(" separator="," close=")">
                        #{adcd}
                    </foreach>
                </if>
                and a.stcd = #{stcdOrStnm} or a.stnm = #{stcdOrStnm}
                <if test="systemTypes != null and systemTypes.size() > 0">
                    and k.lx IN
                    <foreach item="systemTypes" index="index" collection="systemTypes" open="(" separator="," close=")">
                        #{systemTypes}
                    </foreach>
                </if>
                <if test="ly != null and ly.size() > 0">
                    and k.dx IN
                    <foreach collection="ly" open="(" separator="," close=")" item="ly" index="index">
                        #{ly}
                    </foreach>
                </if>
            </trim>
            and a.sttp like '%R%' and n.ZFL='1' and k.jdb in (2,3) and k.viwe = 1
        </where>
        ) m
        left join
        (select
        b.stcd,b.TM,b.RZ,b.INQ,b.W,b.OTQ,e.ttcp,FSLTDZ,FSLTDW,FSTP,RWCHRCD
        from
        RP_RSVR_R b
        left join
        RP_RSVRFCCH_B e
        on
        b.stcd=e.stcd
        left join
        (select   top(1)
        stcd,FSLTDZ,FSLTDW,FSTP
        from
        RP_RSVRFSR_B
        <where>
            stcd = #{stcdOrStnm}
            and
            FSTP = #{fstp}
        </where>
        ) f
        on
        b.stcd = f.stcd
        ) d
        on
        m.stcd=d.stcd
        <where>
            d.TM >= #{beginTime} and d.TM &lt;= #{endTime}
        </where>
        order by m.stnm,d.TM desc
    </select>

    <!-- 水库查询 专业报表  时间相同 -->
    <select id="getRsvrByZhaunYeNew" resultType="com.world.chaip.entity.report.RsvrZhuanYe">
        select
        m.stnm,d.*,m.zfl,RWCHRCD
        from
        (select
        a.stnm,a.sttp,n.ZFL ,k.*
        from
        ST_STBPRP_B a
        left join
        ST_STSMTASK_B n
        on
        a.stcd=n.stcd
        left join
        DJ_EXP k
        on
        a.stcd=k.stcd
        <where>
            <trim prefixOverrides="and|or">
                <if test="adcd != null and adcd.size() > 0">
                    and a.addvcd IN
                    <foreach item="adcd" index="index" collection="adcd" open="(" separator="," close=")">
                        #{adcd}
                    </foreach>
                </if>
                and a.stcd = #{stcdOrStnm} or a.stnm = #{stcdOrStnm}
                <if test="systemTypes != null and systemTypes.size() > 0">
                    and k.lx IN
                    <foreach item="systemTypes" index="index" collection="systemTypes" open="(" separator="," close=")">
                        #{systemTypes}
                    </foreach>
                </if>
                <if test="ly != null and ly.size() > 0">
                    and k.dx IN
                    <foreach collection="ly" open="(" separator="," close=")" item="ly" index="index">
                        #{ly}
                    </foreach>
                </if>
            </trim>
            and a.sttp like '%R%' and n.ZFL='1' and k.jdb in (2,3) and k.viwe = 1
        </where>
        ) m
        left join
        (select
        b.stcd,b.TM,b.RZ,b.INQ,b.W,b.OTQ,e.ttcp,FSLTDZ,FSLTDW,FSTP,RWCHRCD
        from
        RP_RSVR_R b
        inner join (
        select
        stcd,MAX(TM)TM from RP_RSVR_R
        <where>
            TM &lt;= #{time} group by stcd
        </where>
        ) c
        on
        b.stcd = c.stcd
        and
        b.TM = c.TM
        left join
        RP_RSVRFCCH_B e
        on
        c.stcd=e.stcd
        left join
        (select  top(1)
        stcd,FSLTDZ,FSLTDW,FSTP
        from
        RP_RSVRFSR_B
        <where>
            stcd = #{stcdOrStnm}
            and
            FSTP = #{fstp}
        </where>
        ) f
        on
        b.stcd = f.stcd
        ) d
        on
        m.stcd=d.stcd
        order by m.stnm,d.TM desc
    </select>

    <resultMap id="signListResult" type="com.world.chaip.entity.newRsvr.RevrXunQi">
        <result property="stcd" column="stcd"/>
        <collection property="xunQITimeList" column="xunQITimeList" ofType="com.world.chaip.entity.newRsvr.XunQITime">
            <result property="bgmd" column="bgmd"/>
            <result property="edmd" column="edmd"/>
            <result property="fstp" column="fstp"/>
        </collection>
    </resultMap>

    <!-- 水库汛期查询 -->
    <select id="getRsvrFS" resultMap="signListResult">
       select RP_RSVRFSR_B.STCD, ST_STBPRP_B.STNM, convert(int, BGMD) AS BGMD, convert(int, EDMD) as EDMD, FSTP
       from RP_RSVRFSR_B
         inner join ST_STBPRP_B on RP_RSVRFSR_B.STCD = ST_STBPRP_B.STCD
        where FSTP IS NOT NULL
    and RP_RSVRFSR_B.STCD != ''
    and RP_RSVRFSR_B.STCD in (
    select STCD
    from ST_STBPRP_B
    where STCD in (
        select STCD
        from RP_RSVRFCCH_B)
      and STTP like '%R%');
    </select>
    <!-- 获取汛限站 -->
    <select id="getFsltdzStations" resultType="java.lang.String">
      SELECT DISTINCT stcd FROM RP_RSVRFSR_B WHERE fstp = #{fstp}
    </select>


</mapper>